
<div class="card-body">
    <h1 class="text-center">
        Datos Personales
    </h1>

        <form >
          <div class=" form-group">
            <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="apePaterno">Apellido Paterno</label>
                    <input type="text" class="form-control" id="apePaterno" placeholder="Apellido Paterno">
                </div>
                <div class="col-md-4 mb-3">
                      <label for="apMaterno">Apellido Materno</label>
                      <input type="text" class="form-control" id="apMaterno" placeholder="Apellido Materno">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 ">
                  <label for="fecNac">Fecha Nacimiento</label>
                  <input type="date" class="form-control" id="fecNac" placeholder="Fecha Nacimiento">
                </div>
                <div class="col-md-4 ">
                    <label for="telf">Telefono</label>
                    <input type="number" class="form-control" id="telf" placeholder="Telefono">
                  </div>
                <div class="col-md-4 ">
                    <label for="email">Correo Electronico</label>
                    <input type="email" class="form-control" id="email" placeholder="Correo Electronico">
                  </div>
            </div> <br>

            <div class="row">
              <div class="col-md-4 ">
                  <label for="especialidad">Especialidad</label>
                  <input type="text" class="form-control" id="especialidad" placeholder="Especialidad">
              </div>
                <div class="col-md-4 ">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Contrasenia">
                </div>
            </div>
                        
          <!--div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div-->
          </div>

          <div>
            <button class="btn btn-primary">Guardar Datos</button>
          </div>

        </form>

</div>